<h1>Search for Songs</h1>

<form class="" action="/search/" method="get">
  <select name="search_by">
    <option value="Search by lyrics">Search by lyrics</option>
    <option value="Search by track name">Search by track name</option>
  </select>
  <input type="text" name="search" placeholder="Search..">
</form>

<p><strong>When searching by track name, include artist name to improve results</strong></p>
