<h1><%= @search["splat"].join %></h1>
<% result = ApiParser.new.search_by_track %>
<% result.query(@search["splat"].join) %>
  <h2>Lyrics</h2>
  <article>
  <% result.search_lyrics_hash("lyrics_body").split("\n").each do |line| %>
    <p style="margin:0"><%= line %></p>
  <% end %>
</article>
