<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <script src="/js/jquery-3.3.1.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/app.js"></script>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <%= erb(:'partials/nav', :layout => false) %>
  
  <div class="container" style="padding:55px 2em 1em 2em">
    <%= yield %>
  </div>

</body>
</html>
